


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel= "stylesheet"  href= "~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
    
    @* start body *@
    <section>
        <center>
            <div class= "mt-3 bg-primary text-white rounded-2">
                <h1>Welcome to home page</h1>
                <p>lorem</p>
            </div>
        </center>
    </section>
    @* end body *@
</body>
</html>
